@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #007BFF; /* Синий */
  --color-secondary: #28A745; /* Зеленый */
  --color-background: #F8F9FA; /* Светло-серый */
  --color-text: #343A40; /* Темно-серый */
  --color-accent: #FF8C00; /* Оранжевый */
  --color-link: #0056b3; /* Темно-синий */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #F8F9FA; /* Светло-серый */
    --color-background: #343A40; /* Темно-серый */
  }
}

body {
  color: var(--color-text);
  background: var(--color-background);

  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
